[Unit]
Description=The Apache HTTP Server
After=network.target remote-fs.target nss-lookup.target
After=webroot-setup.service
Requires=webroot-setup.service

[Service]
Type=notify
Environment=LANG=C
ExecStartPre=/usr/bin/cp -n /usr/share/httpd/html/index.html /var/www/html/
ExecStart=/usr/sbin/httpd -DFOREGROUND -k start
ExecStop=/usr/bin/kill -WINCH $MAINPID
KillSignal=SIGWINCH
PrivateTmp=true

[Install]
WantedBy=multi-user.target
